.header {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    border: solid rgb(205, 205, 205);
}

.logo {
    width: 100px;
    border-radius: 50%;
}

.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul > .link {
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.login {
    border: none;
    padding: 10px;
    background-color: green;
    font-size: 20px;
    color: white;
    border-radius: 8px;
}